<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Войти</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-image: url(/static/cf1477b8c09243a6842a709ccf56110d.jpg)">

<main class="form-signin w-50 m-auto">
    <form method="post">
        <h1 class="h3 mb-3 fw-normal">Для авторизации введите данные:</h1>
        {% csrf_token %}
        {{ form.as_p }}

        <button class="w-100 btn btn-lg btn-dark" type="submit">Войти</button>
        <br>
        <br>
        <li><a class="text-muted" href="{% url 'users:register' %}">Создать новый аккаунт</a></li>
        <li><a class="text-muted" href="{% url 'users:reset_password' %}">Забыли пароль?</a></li>

        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
</main>

</body>
</html>