{% extends 'users/base.html' %}


{% block title %}Сбросить пароль{% endblock %}

{% block password %}
    <div class="container">
    <h1>Забыли пароль?</h1>
    <p>Введите e-mail адрес и мы отправим новый пароль.</p>
    <form method="post" class="email-form col-5">
        {% csrf_token %}
        <input type="email" name="email" autocomplete="email" class="form-control">
        <br>
        <button type="submit" class="p-2 btn btn-dark">Отправить</button>

    </form>
    </div>
{% endblock %}