{% extends 'catalog/base.html' %}
{% load mediapath_filter %}

{% block product_detail %}
<div class="container-xl">
        <br>
        <br>
<img src="{{ object.image_preview|mediapath }}" height=300 />

        <p class="h3">Продукт: {{ object.product_name|capfirst }}</p>

        <p>Описание: {{ object.descriptions|capfirst}}</p>
        <br>
        <br>
        <p>Категория:   {{ object.category.category_name }} </p>
        <p>Цена:   {{ object.price }} </p>
        <p>Дата создания:  {{ object.date_created }}</p>
        <p>Дата изменения:  {{ object.date_of_change }}</p>

        <td><a class="p-2 btn btn-dark" href="{% url 'catalog:home' %}">Назад</a></td>

    </div>


{% endblock %}